<div class="content">
  <div class="totalizadores-container">
    <div class="totalizador">
      <div class="totalizador-titulo">Clientes</div>
      <div class="totalizador-valor">{{ totalClientes }}</div>
    </div>
    <div class="totalizador">
      <div class="totalizador-titulo">Unidades</div>
      <div class="totalizador-valor">{{ totalUnidades }}</div>
    </div>
    <div class="totalizador">
      <div class="totalizador-titulo">Empreendimentos</div>
      <div class="totalizador-valor">{{ totalEmpreendimentos }}</div>
    </div>
  </div>
  <div class="filter">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Tenda" #input>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> NOME </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="imagem">
      <th mat-header-cell *matHeaderCellDef> IMAGEM </th>
      <td mat-cell *matCellDef="let element"> <img [src]="element.imagem" /> </td>
    </ng-container>
    <ng-container matColumnDef="empreendimentos">
      <th mat-header-cell *matHeaderCellDef> EMPREENDIMENTOS </th>
      <td mat-cell *matCellDef="let element"> {{element.empreendimentos}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
  </table>
</div>